
a{
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.redes__sociales{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.redes__sociales-lista{
  display: none;
}

.offcanvas {
  width: 100%;
  height: 100%;
  background-color:rgba(1, 1, 1, .2);
}

.open{
  right: 0;
  position: fixed;
  display: flex;
  margin-top: 10px;
  height: 100vh;
  width: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color:rgba(1, 1, 1, .3);
  user-select: none;
  z-index: 900;
}

.desplegado{
  right: 0;
  padding: 20px;
  gap: 20px;
  position: fixed;
  width: 25vh;
  height: 100vh;
  background-color:  #464246;
  z-index: 1000;
}

.item{
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 3.5vw;
  gap: 20px;
}

.item:hover{
  background:  rgba(0,0,0,.1);
}

.item img{
  height: 50px;
  width: 50px;
  margin: 5px 5px 5px 20px;
}

.button{
  height: 40px;
  width: 70%;
  border-radius: 15px;
  margin: auto;
  background-color: rgb(165, 185, 185);
  cursor: pointer;
  color: #f8f8f8;
  font-size: 1.1rem;
  font-weight:600;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
  background-color: rgb(165, 185, 185, .8);
}

.button__container {
  display: flex;
  margin-bottom: 15px;
}

.agregar {
  height: 50px;
  margin-bottom: 15px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0,0,0,.6);
}

.redes__sociales input{
  display: none;
}

.redes__sociales label{
  font-size: 2.5rem;
  cursor: pointer;
  opacity: 1;
}

.redes__sociales input:checked {
  transform: scaleY(1);
  opacity: 1;
}
.redes__sociales input:checked ~ label::before{
  content: '\f00d';
}

@media screen and (min-width: 768px){
  
  .redes__sociales label{
    visibility: hidden;
  }

  .redes__sociales input, label{
    display: none;
  }

  .redes__sociales-lista{
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
    direction: rtl;
  }

  .open {
    position: absolute;
    height: max-content;
  }

  .desplegado{
    position: absolute;
    height: fit-content;
    display: flex;
  }

  .contenedor-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .item p{
    display: none;
  }
  .agregar {
    display: none;
  }

  .button{
    width: 120px;
  }
}